### Import Pandas library

### Read the dataset from this address in a data frame 'users'

### Display the first 15 entries from 'users'

### Display the last 10 entries from 'users'

### What is the number of observations in the dataset?

### What is the number of attributes in the dataset?

### How is the dataset indexed?

### What is the data type of each column?

### Print only the occupation column

### How many different occupations are in this dataset?

### Summarize the DataFrame.

### Summarize the  information of DataFrame.

### Summarize only the occupation column

### What is the mean age of users?

### What is the Maximum age of users?

### What is the minimum age of users?

### Create a DataFrame of your class by using dictionary of Series with following attributes
### Admno,Name,Class,Sec,Eng,IP,Maths

### Add Column Accounts in DataFrame

### Delete Column Section from the DataFrame

### To display data of columns Name and Class

### To Access data of DataFrame row wise with all Columns

### To rename all the columns of DataFrame

### To Save data of Above DataFrame in School.CSV